* text=auto

# Explicitly declare text files
*.md text
*.txt text
*.json text
*.yml text
*.yaml text
*.js text
*.sh text eol=lf
*.cmd text eol=crlf

# Declare binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
